
<div class="card" >
        
        <div class="card-body">
          <h5 class="card-title">Perfil</h5>
          <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Nombre</label>
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{viajeroDetail.nombre}}" disabled>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Número de Documento</label>
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{viajeroDetail.numDocumento}}" disabled>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Tipo de Documento</label>
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{viajeroDetail.tipoDocumento}}" disabled>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Teléfono</label>
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{viajeroDetail.telefono}}" disabled>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Correo</label>
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{viajeroDetail.correo}}" disabled>
                </div>
            
            </form>
        </div>
      </div>
      <br>





<div class="card" >
        
        <div class="card-body">
          <h5 class="card-title">Calificaciones</h5>
          <p class="card-text">Aqui pueden ir las calificaciones</p>
          <a href="#" class="btn btn-primary">Un boton de calificaciones</a>
        </div>
      </div>

      <p> {{viajeroDetail.calificaciones}}</p>


<!--
<div class="panel panel-default"> 
    <div>
        <div class="border margin">
<div class = "row">
    <div class = "col">
          <p class="h4 p-3">Viajero: {{viajeroDetail.nombre}}</p>
          <p> {{viajeroDetail.description}}</p>
        </div>
        </div>
        <div >
                <div class="row">
                    <div class="col-md-3">
                        <p *ngIf="viajeroDetail.calificaciones.length > 0">
                            <button type="button" class="btn" [ngClass]="{ 'btn-primary': calificacionListComponent.isCollapsed,'btn-outline-primary':!calificacionListComponent.isCollapsed}" (click)="toggleCalificaciones()">
                                Calificaciones of the viajero
                            </button>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <button type="button" class="btn" [ngClass]="{ 'btn-primary': calificacionAddComponent.isCollapsed,'btn-outline-primary':!calificacionAddComponent.isCollapsed}" (click)="toggleCreateCalificacion()">
                                Create a Calificacion
                            </button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
-->