
<div class="card" >
        
        <div class="card-body">
          <h5 class="card-title">Perfil</h5>
          <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Nombre</label>
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{viajeroDetail.nombre}}" disabled>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Número de Documento</label>
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{viajeroDetail.numDocumento}}" disabled>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Tipo de Documento</label>
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{viajeroDetail.tipoDocumento}}" disabled>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Teléfono</label>
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{viajeroDetail.telefono}}" disabled>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Correo</label>
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{viajeroDetail.correo}}" disabled>
                </div>
            
            </form>
        </div>
      </div>
      <br>





<div class="card" >
        
        <div class="card-body">
          <h5 class="card-title">Calificaciones</h5>
          <p class="card-text" *ngIf="viajeroDetail.calificaciones.length > 0">
                <app-viajero-calificacion [viajeroCalificaciones]="viajeroDetail.calificaciones"></app-viajero-calificacion>
                   
                
                </p>
        <p *ngIf="!crearCalificacion">
                <button type="button" class="btn btn-primary" (click)="ActivarCrearCalificacion()" routerLinkActive="active-link" >Crear una calificación</button>
        </p>
          <p *ngIf="crearCalificacion">
                <app-viajero-add-calificacion [idViajero]='viajeroDetail.id' (updateCalificaciones)="updateCalificaciones()">
                    
                </app-viajero-add-calificacion>
          </p>
          <p *ngIf="crearCalificacion">

                <button   type="button" class="btn btn-primary" (click)="DesactivarCrearCalificacion()" routerLinkActive="active-link" >Cancelar</button>

          </p>

        </div>
      </div>
