<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="border p-3">
        <dl>
          <dt>Nombre</dt>
          <dd>{{conductorDetail.nombre}}</dd>
          <dt>Número de Documento</dt>
          <dd>{{conductorDetail.numDocumento}}</dd>
          <dt>Tipo de Documento</dt>
          <dd>{{conductorDetail.tipoDocumento}}</dd>
          <dt>Fecha de Nacimiento</dt>
          <dd>{{conductorDetail.fechaDeNacimiento}}</dd>
          <dt>Teléfono</dt>
          <dd>{{conductorDetail.telefono}}</dd>
          <dt>Correo</dt>
          <dd>{{conductorDetail.correo}}</dd>
        </dl>
      </div>
      <div *ngIf="!rolViajero()" >
      <!--<app-conductor-add-viaje [vehiculos]='conductorDetail.vehiculos' [conductorId]='conductorId' (updateViajes)="updateViajes()"></app-conductor-add-viaje>-->
      <button type="button" class="btn btn-primary" routerLink="/viajes/add/{{conductorId}}">Crear viaje</button>
      </div>
    </div>
    <div class="col-md-9">
      <app-conductor-viajes *ngIf="!rolViajero()" [conductorViajes]='conductorDetail.viajes'></app-conductor-viajes>
      <h1 *ngIf="!rolViajero()">Vehiculos:</h1>
      <table *ngIf="!rolViajero()" class="table table-striped table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Soat</th>
            <th scope="col">Placa</th>
            <th scope="col">Aseguradora</th>
            <th scope="col">Vigencia Soat</th>
            <th scope="col">Modelo</th>
            <th scope="col">Sillas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of conductorDetail.vehiculos">
            <td>{{v.id}}</td>
            <td>{{v.soat}}</td>
            <td>{{v.placa}}</td>
            <td>{{v.aseguradora}}</td>
            <td>{{v.vigenciaSoat}}</td>
            <td>{{v.modelo}}</td>
            <td>{{v.sillas}}</td>
          </tr>
        </tbody>
      </table>
      <h1>Calificaciones:</h1>
      <app-conductor-calificacion [conductorCalificaciones]="conductorDetail.calificaciones"></app-conductor-calificacion>
    <div  *ngIf="!rolConductor()">
      <p *ngIf="!crearCalificacion">
          <button type="button" class="btn btn-primary" (click)="ActivarCrearCalificacion()" routerLinkActive="active-link" >Crear una calificación</button>
  </p>
    </div>
    <p *ngIf="crearCalificacion">
          <app-conductor-add-calificacion [idConductor]='conductorDetail.id' (updateCalificaciones)="updateCalificaciones()">
              
          </app-conductor-add-calificacion>
    </p>
    <p *ngIf="crearCalificacion">

          <button   type="button" class="btn btn-primary" (click)="DesactivarCrearCalificacion()" routerLinkActive="active-link" >Cancelar</button>

    </p>
    </div>
  </div>
</div>