
<div class="card" >
        
  <div class="card-body">
    <h5 class="card-title">Perfil</h5>
    <form>
          <div class="form-group">
              <label for="formGroupExampleInput">Nombre</label>
              <input class="form-control" id="disabledInput" type="text" placeholder="{{publicistaDetail.nombre}}" disabled>
          </div>
          <div class="form-group">
              <label for="formGroupExampleInput">Apellido</label>
              <input class="form-control" id="disabledInput" type="text" placeholder="{{publicistaDetail.Apellido}}" disabled>
          </div>
          <div class="form-group">
              <label for="formGroupExampleInput">Teléfono</label>
              <input class="form-control" id="disabledInput" type="text" placeholder="{{publicistaDetail.telefono}}" disabled>
          </div>
          <div class="form-group">
              <label for="formGroupExampleInput">Correo</label>
              <input class="form-control" id="disabledInput" type="text" placeholder="{{publicistaDetail.correo}}" disabled>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Cedula</label>
            <input class="form-control" id="disabledInput" type="text" placeholder="{{publicistaDetail.correo}}" disabled>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Contraseña</label>
          <input class="form-control" id="disabledInput" type="text" placeholder="{{publicistaDetail.contrasenha}}" disabled>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Rut</label>
        <input class="form-control" id="disabledInput" type="text" placeholder="{{publicistaDetail.rut}}" disabled>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Nit</label>
      <input class="form-control" id="disabledInput" type="text" placeholder="{{publicistaDetail.nit}}" disabled>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Tipo publicista</label>
    <input class="form-control" id="disabledInput" type="text" placeholder="{{publicistaDetail.tipoPublicista}}" disabled>
</div>
      
      </form>
  </div>
</div>
<br>





<div class="card" >
  
  <div class="card-body">
    <h5 class="card-title">Publicidades</h5>
    <p class="card-text">Aqui pueden ir las publicidades</p>
    <a href="#" class="btn btn-primary">Un boton de publicidades</a>
  </div>
</div>

<p> {{publicistaDetail.publicidades}}</p>
