<div class="row">
  <div class="col-6">
    <br>
    <h2 class="text-center">Crear un Publicista</h2>
    <br>
 
    <form name="publicista" (ngSubmit)="f.form.valid && createPublicista()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="publicistaNombre"><b>Nombre</b></label>
          <input type="text" name="publicistaNombre" class="form-control" id="publicistaNombre" [(ngModel)]="publicista.nombre"
            #publicistaNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && publicistaNombre.invalid }" required>
          <div class="invalid-feedback">
            <div>El nombre del publicista no es valido</div>
          </div>
        </div>

          <div class="form-group">
            <label for="publicistaFecha"><b>Fecha de Nacimiento</b></label>
            <input type="text" name="publicistaFecha" class="form-control" id="publicistaFecha" [(ngModel)]="publicista.fechaDeNacimiento"
              #publicistaNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && publicistaFecha.invalid }" required>
            <div class="invalid-feedback">
              <div>La fecha de Nacimiento del publicista no es valido</div>
            </div>
          </div>
        <div class="form-group">
          <label for="publicistaCorreo"><b>Correo</b></label>
          <input type="text" name="publicistaCorreo" class="form-control" id="publicistaCorreo" [(ngModel)]="publicista.correo"
            #publicistaCorreo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && publicistaCorreo.invalid }" required>
          <div class="invalid-feedback">
            <div>El correo del publicista no es valido</div>
          </div>
        </div>
        <div class="form-group">
          <label for="publicistaTelefono"><b>Telefono</b></label>
          <input type="text" name="publicistaTelefono" class="form-control" id="publicistaTelefono"
            [(ngModel)]="publicista.telefono" #publicistaTelefono="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && publicistaTelefono.invalid }" required>
          <div class="invalid-feedback">
            <div>El telefono del publicista no es valido</div>
          </div>
        </div>
        <div class="form-group">
          <label for="publicistaTipoDeDocumento"><b>Tipo de Documento</b></label>
          <input type="text" name="publicistaTipoDeDocumento" class="form-control" id="publicistaTipoDeDocumento"
            [(ngModel)]="publicista.tipoDocumento" #publicistaTipoDeDocumento="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && publicistaTipoDeDocumento.invalid }" required>
          <div class="invalid-feedback">
            <div>El tipo de documento del publicista no es valido</div>
          </div>
        </div>
        <div class="form-group">
          <label for="publicistaNumDocumento"><b>Numero de Documento</b></label>
          <input type="text" name="publicistaNumDocumento" class="form-control" id="publicistaNumDocumento"
            [(ngModel)]="publicista.numDocumento" #publicistaNumDocumento="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && publicistaNumDocumento.invalid }" required>
          <div class="invalid-feedback">
            <div>El numero de documento del publicista no es valido</div>
          </div>
        </div>
        <div class="form-group">
          <label for="publicistaContrasenha"><b>Contraseña</b></label>
          <input type="text" name="publicistaContrasenha" class="form-control" id="publicistaContrasenha"
            [(ngModel)]="publicista.contrasenha" #publicistaContrasenha="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && publicistaContrasenha.invalid }" required>
          <div class="invalid-feedback">
            <div>La contraseña del publicista no es valida</div>
          </div>
        </div>
  
  
  
        <div class="row form-inline justify-content-center align-self-center">
          <button type="submit" class="btn btn-primary">Create</button>
          <div class="divider"></div>
          <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
      </div>
      </form>
  </div>
</div>