<div class="container-fluid">
	<div class="row">
		<div class="col">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Nombre</th>
						<th>Correo Electronico</th>
						<th *ngIf="!rolViajero()">Numero De Documento</th>
						<th *ngIf="!rolViajero()">Contraseña</th>
						<th>Telefono</th>
						<th *ngIf="!rolViajero()">Fecha de Nacimiento</th>
						<th *ngIf="!rolViajero()">Tipo de Documento</th>
						<th >Boton Detalle</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let i of conductores">

						<td>{{i.nombre}}</td>
						<td>{{i.correo}}</td>
						<td *ngIf="!rolViajero()">{{i.numDocumento}}</td>
						<td *ngIf="!rolViajero()">{{i.contrasenha}}</td>
						<td>{{i.telefono}}</td>
						<td *ngIf="!rolViajero()">{{i.fechaDeNacimiento}}</td>
						<td *ngIf="!rolViajero()">{{i.tipoDocumento}}</td>
						<td> 
							<a class="btn btn-primary" routerLink="/conductores/{{i.id}}">Ver Detalle</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<div class="row">
		<td *ngIf="!rolViajero()" style="cursor: pointer">
			<button type="button" class="btn btn-primary" (click)="mostrarFormulario()">Crear Conductor</button>
		</td>
	</div>
	<div class="row">
		<div *ngIf="mostrarForm">
			<app-conductor-create></app-conductor-create>
		</div>
	</div>
	<div class="row">

		<td style="cursor: pointer">
			<div *ngIf="mostrarForm">
				<button type="button" class="btn btn-danger" (click)="ocultarFormulario()">Cancelar</button>
			</div>
		</td>

	</div>
</div>