<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h3>Viaje: {{viajeDetail.id}}</h3>
            <h5>Destino: {{viajeDetail.destino}}</h5>
            <h5>Origen: {{viajeDetail.origen}}</h5>
            <h5>Fecha de Salida: {{viajeDetail.fechaDeSalida}}</h5>
            <h5>Fecha de Llegada: {{viajeDetail.fechaDeLlegada}}</h5>
            <h5>Cupos: {{viajeDetail.cupos}}</h5>
            <h5>Costo: {{viajeDetail.costoViaje}}</h5>
            <h5>Estado: {{viajeDetail.estadoViaje}}</h5>
            <h5>Vehiculo: {{viajeDetail.vehiculo.placa}}</h5>
            <app-reserva-create [idViaje]='viajeDetail.id'></app-reserva-create>
        </div>
        <div class="col-md-8">
            <app-viaje-trayectos [trayectos]='viajeDetail.trayectos'></app-viaje-trayectos>
            <app-viaje-add-trayecto [idViaje]='viajeDetail.id' (updateTrayectos)="updateTrayectos()"></app-viaje-add-trayecto>
           
        </div>
    </div>
    <div class="row">
        
    </div>
</div>