<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>Bienvenido a Carpooling</h1>
      <p class="lead">La forma facil y segura de transportarte.</p>
  </div>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Acerca de nosotros</h2>
        <p class="lead">Pagina oficial de Carpooling</p>
        <ul>
          <!--<li>Clickable nav links that smooth scroll to page sections</li>-->
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="services" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Servicio que ofrecemos</h2>
        <p class="lead">
          Te permitimos convertirte en un socio conductor para que puedas trabajar con nostros.
        </p>
        <p class="lead">
          Le prestamos servicio de transporte a personas que necesitan desplazarce entre ciudades.
        </p>
        <p class="lead">
          Si deseas publicar promociones a traves de la plataforma te invitamos a inicar sersion como publicista
        </p>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact us</h2>
        <p class="lead"></p>
        <h4>Email:</h4>
        <h6>carpooling-us@capooling.edu.co</h6>
        <h4>Telefono:</h4>
        <h6>+(57) 6910123</h6>
      </div>
    </div>
  </div>
</section>

<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Capooling 2019</p>
  </div>
</footer>