<div class="row offset-md-1">
    <div class="card-group" *ngFor="let v of viajes">
      <div class="card border-secondary" style="width: 16rem;">
        <div class="card-body">
          <ul>
            <li class="card-text">Destino: {{v.destino}}</li>
            <li class="card-text">Origen: {{v.origen}}</li>
            <li class="card-text">Fecha de Salida: {{v.fechaDeSalida}}</li>
            <li class="card-text">Fecha de llegada: {{v.fechaDeLlegada}}</li>
            <li class="card-text">Cupos: {{v.cupos}}</li>
            <li class="card-text">Costo: {{v.costoViaje}}</li>
            <li class="card-text">Estado: {{v.estadoViaje}}</li>
          </ul>
          <a class="btn btn-primary" (click)="seleccionarViaje(v)">Seleccionar este viaje</a>
        </div>
      </div>
    </div>
  </div>
  

<form [formGroup]="calificacionForm" (ngSubmit)="postCalificacion(calificacionForm.value )">

        <div class="form-group mx-sm-3 mb-2">
         <label for="puntuacion">
           Puntuación
         </label>
         <input
           id="puntuacion"
           type="number"
           class="form-control"
           formControlName="puntuacion"
           placeholder="">
        </div>
     
        <div class="form-group  mx-sm-3 mb-2">
         <label for="comentarios">
           Comentarios
         </label>
        <input id="comentarios" type="text"
          class="form-control"
          formControlName="comentarios"
          placeholder="">

          <div class = "row">
      
              <div class = "col-4">
        
              </div>
              <div class= "col">
                  <div class="card border-secondary" style="width: 16rem;" *ngIf="tieneViaje">
                    <div class="card-body" >
                      <h2>
                        Viaje Seleccionado
                      </h2>  
                      <ul>
                          <li class="card-text">Destino: {{viaje.destino}}</li>
                          <li class="card-text">Origen: {{viaje.origen}}</li>
                          <li class="card-text">Fecha de Salida: {{viaje.fechaDeSalida}}</li>
                          <li class="card-text">Fecha de llegada: {{viaje.fechaDeLlegada}}</li>
                          <li class="card-text">Cupos: {{viaje.cupos}}</li>
                          <li class="card-text">Costo: {{viaje.costoViaje}}</li>
                          <li class="card-text">Estado: {{viaje.estadoViaje}}</li>
                        </ul>
                    </div>
              </div>
                  
              </div>
              
            </div>
       </div>


    
      
              <button class="button mx-sm-3 mb-2" type="submit"   
               [disabled]="calificacionForm.invalid">Create</button>
     
     </form>
    