<div class="row offset-md-1">
	<div class="card-group" *ngFor="let v of viajes">
		<div class="card border-secondary" style="width: 16rem;">
			<div class="card-body">
				<ul>
					<li class="card-text">Destino: {{v.destino}}</li>
					<li class="card-text">Origen: {{v.origen}}</li>
					<li class="card-text">Fecha de Salida: {{v.fechaDeSalida}}</li>
					<li class="card-text">Fecha de llegada: {{v.fechaDeLlegada}}</li>
					<li class="card-text">Cupos: {{v.cupos}}</li>
					<li class="card-text">Costo: {{v.costoViaje}}</li>
					<li class="card-text">Estado: {{v.estadoViaje}}</li>
				</ul>
				<a class="btn btn-primary" routerLink="/viajes/{{v.id}}">Ver
					en Detalle</a>
					<p>
						
					</p>
					<a *ngIf = "v.estadoViaje=='FINALIZADO'" >¡Disponible para calificar!</a>
			</div>
		</div>
	</div>
</div>