<form [formGroup]="calificacionForm" (ngSubmit)="postCalificacion(calificacionForm.value )">

        <div class="form-group mx-sm-3 mb-2">
         <label for="puntuacion">
           Puntuación
         </label>
         <input
           id="puntuacion"
           type="number"
           class="form-control"
           formControlName="puntuacion"
           placeholder="">
        </div>
     
        <div class="form-group  mx-sm-3 mb-2">
         <label for="comentarios">
           Comentarios
         </label>
        <input id="comentarios" type="text"
          class="form-control"
          formControlName="comentarios"
          placeholder="">
       </div>
    
      
              <button class="button mx-sm-3 mb-2" type="submit"   
               [disabled]="calificacionForm.invalid">Create</button>
     
     </form>
    