<div id="collapseCalificacion" [ngbCollapse]="isCollapsed">
  <table class="table table-striped">
      <tbody>
          <tr *ngFor="let calificacion of viajeroCalificacion">
              <td><span id="viajero-calificado"><b>El viajero {{viajero.nombre}} fué calificado por el viaje con id {{viaje.id}}</b></span>
                <span>: </span>
                <br><span id="viaje-description">Desde {{viaje.origen}} hasta {{viaje.destino}}</span>
                <br><span id="viaje-description">que fué realizado en el día {{viaje.fechaDeSalida}}</span>
                <br><span id="viajero-calificado">El resultado de la calificacion fué este :</span>
                <br><span id="viajero-calificado">Puntaje : {{calificacion.puntaje}}</span>
                <br><span id="viajero-calificado">Comentarios : {{calificacion.comentarios}}</span>
              </td>
          </tr>
      </tbody>
  </table>
</div>