<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<br>
			<h2 class="text-center">Añadir Conductor</h2>
			<br>
			<form name="conductor" (ngSubmit)="f.form.valid && createBook()" #f="ngForm" novalidate>
				<div class="form-group">
					<label for="conductorNombre"><b>Nombre</b></label>
					<input type="text" name="conductorNombre" class="form-control" id="conductorNombre" [(ngModel)]="conductor.nombre" #conductorNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && conductorNombre.invalid }" required>
					<div class="invalid-feedback">
						<div>El nombre del conductor es invalido</div>
					</div>
				</div>

				<div class="form-group">
					<label for="conductorTelefono"><b>Telefono</b></label>
					<input type="text" name="conductorTelefono" class="form-control" id="conductorTelefono" [(ngModel)]="conductor.telefono" #conductorTelefono="ngModel" [ngClass]="{ 'is-invalid': f.submitted && conductorTelefono.invalid }" required>
					<div class="invalid-feedback">
						<div>El telefono del conductor es invalido</div>
					</div>
				</div>

				<div class="form-group">
					<label for="conductorCorreo"><b>Correo Electronico</b></label>
					<input type="text" name="conductorCorreo" class="form-control" id="conductorCorreo" [(ngModel)]="conductor.correo" #conductorCorreo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && conductorCorreo.invalid }" required>
					<div class="invalid-feedback">
						<div>El correo electronico del conductor es invalido</div>
					</div>
				</div>

        <div class="form-group">
					<label for="conductorContrasenha"><b>Contrasenha</b></label>
					<input type="text" name="conductorContrasenha" class="form-control" id="conductorContrasenha" [(ngModel)]="conductor.contrasenha" #conductorContrasenha="ngModel" [ngClass]="{ 'is-invalid': f.submitted && conductorContrasenha.invalid }" required>
					<div class="invalid-feedback">
						<div>La contrasenha del conductor es invalido</div>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>